.app {
  text-align: center;
  padding: 20px;
  color: white;
  background-color: #cd5420;
  transition: background 0.5s ease;
}

.clear {
  background: linear-gradient(to right, #f7b733, #fc4a1a);
}

.clouds {
  background: linear-gradient(to right, #bdc3c7, #2c3e50);
}

.rain {
  background: linear-gradient(to right, #2c3e50, #3498db);
}

.weather-forecast {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}
.weather-card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 10px;
  width: 150px;
  color: white;
  text-align: center;
  
}
.weekly-forecast {
  padding: 1rem;
}

.forecast-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
  gap: 1rem; 
}
input{
  outline: none;
  padding: 8px;
  margin-right: 5px;
}
button{
  padding: 8px;
}